# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vscode*

src/layouts/lang
src/pages/*

!src/pages/ja/
!src/pages/en/
!src/pages/zh/
!src/pages/ko/
!src/pages/ru/
!src/pages/fr/
!src/pages/vi/
!src/pages/nom/

src/pages/ja/*
src/pages/en/*
src/pages/zh/*
src/pages/ko/*
src/pages/ru/*
src/pages/fr/*
src/pages/vi/*
src/pages/nom/*

!src/pages/ja/article
!src/pages/en/article
!src/pages/zh/article
!src/pages/ko/article
!src/pages/ru/article
!src/pages/fr/article
!src/pages/vi/article
!src/pages/nom/article

!src/pages/ja/image
!src/pages/en/image
!src/pages/zh/image
!src/pages/ko/image
!src/pages/ru/image
!src/pages/fr/image
!src/pages/vi/image
!src/pages/nom/image

!src/pages/ja/shop/product
!src/pages/en/shop/product
!src/pages/zh/shop/product
!src/pages/ko/shop/product
!src/pages/ru/shop/product
!src/pages/fr/shop/product
!src/pages/vi/shop/product
!src/pages/nom/shop/product

