---
import Shop from "../../paths/shop.astro";
import ProductBox from "../../components/product-box.astro";

const { lang } = Astro.props;

import "../../css/pages/shop/index.css";
---

<Shop lang={lang}>
	<div class="tfh show-on-scroll">
		<h1 class="txtd">Cửa hàng Team Fuho</h1>
	</div>
	<span class="hsp show-on-scroll"></span>
	<main id="top_seller" class="show-on-scroll">
		<h1>Bán chạy nhất</h1>
		<div id="ictn">
			<div class="item">
				<img loading="lazy" src="/res/img/theten.png" alt="item image" />
				<p>Thẻ Thành viên Team Fuho</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset="1"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset="1"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(100+)</p>
				</section>
				<section>
					<p>1.000.000đ</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/aotfh.jpg" alt="item image" />
				<p>Áo Team Fuho, bản thường</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset="1"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset="1"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(10)</p>
				</section>
				<section>
					<p>200.000đ</p>
					<p>-3%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/aotfh.png" alt="item image" />
				<p>Áo Team Fuho, hàng limited</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset="1"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset="1"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(10)</p>
				</section>
				<section>
					<p>320.000đ</p>
					<p>-23%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/sting.jpg" alt="item image" />
				<p>Sting vị dâu</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".78"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".82"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(1000+)</p>
				</section>
				<section>
					<p>20.000đ</p>
					<p>-10%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/egg.webp" alt="item image" />
				<p>Trứng</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".78"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".82"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(1000+)</p>
				</section>
				<section>
					<p>6.000đ</p>
					<p>-10%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/haohao.jpeg" alt="item image" />
				<p>Mỳ Hảo Hảo</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".78"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".82"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(1000+)</p>
				</section>
				<section>
					<p>10.000đ</p>
					<p>-10%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image" />
				<p>Phạm Dũng</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".48"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".52"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(100+)</p>
				</section>
				<section>
					<p>100.000đ</p>
					<p>-10%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image" />
				<p>Phạm Dũng 2</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".48"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".52"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(100+)</p>
				</section>
				<section>
					<p>50.000đ</p>
					<p>-50%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image" />
				<p>Phạm Dũng 3</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".48"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".52"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(100+)</p>
				</section>
				<section>
					<p>69.000đ</p>
					<p>-20%</p>
				</section>
			</div>
			<div class="item">
				<img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image" />
				<p>Phạm Dũng n+1</p>
				<section>
					<svg viewBox="0 0 160 32">
						<defs>
							<linearGradient
								id="a"
								x1="1.2536"
								x2="158.75"
								y1="15.886"
								y2="15.886"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="#fdd836" offset=".48"></stop>
								<stop stop-color="#fff" stop-opacity="0" offset=".52"></stop>
							</linearGradient>
						</defs>
						<g fill="url(#a)" stroke="#fdd836">
							<path
								d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
							<path
								d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z"
							></path>
						</g>
					</svg>
					<p>(100+)</p>
				</section>
				<section>
					<p>$99.9999</p>
					<p>-0%</p>
				</section>
			</div>
		</div>
	</main>
	<ProductBox />
</Shop>
