---
import Shop from "../../paths/shop.astro";
import ProductBox from "../../components/product-box.astro";

const { lang } = Astro.props;

import "../../css/pages/shop/search.css";
---

<Shop lang={lang}>
	<div id="search_r">Kết quả tìm kiếm của "<span id="keyword"></span>"</div>
	<ProductBox />
</Shop>
