@font-face {
    font-family: bvn;
    src: url(/fon/BeVietnamPro-Regular.ttf);
}

@font-face {
    font-family: bvnpro;
    src: url(/fon/BeVietnamPro-Bold.ttf);
}

@font-face {
    font-family: lato;
    src: url(/fon/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: lato-f;
    src: url(/fon/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: oswald;
    src: url(/fon/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: minecraftmedium;
    src: url(/fon/NotoSansKR-Regular.otf);
    font-weight: 300;
    font-style: normal;
}