@import "../../intl.css";

.container {
  width: 100%;
  float: center;
  height: 80vh;
  overflow: hidden;
  margin-top: 12vh;
  display: block;
}

#form,
#feedback {
  z-index: 9;
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
}
#form {
  padding: 0 calc((100vw - (100vh / 9) * 16) / 2 + 13vh);
  height: 100vh;
}
#feedback {
  padding: 0 calc((100vw - (100vh / 9) * 16) / 2 + 36vh);
  height: fit-content;
}
#feedback > form {
  grid-template-rows: 80% 20%;
  height: 56vh;
}
#feedback div {
  padding: 3vh 3vmin 0;
  box-sizing: border-box;
}
#feedback div > textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 2vh;
  border-radius: 2vh;
  box-shadow: 0 0 5px 0 rgb(43 43 43 / 25%), 0 11px 6px -7px rgb(43 43 43 / 25%);
  font-size: 2vh;
  font-family: bvn, lato-f, sans-serif;
  color: #002049;
  box-sizing: border-box;
  border: none;
}
#feedback div > input[type="submit"] {
  border: 1px solid #002049;
  padding: 1.4vh 4.8vh;
  background-color: rgba(0, 32, 73, 0);
  transition: all 0.1s ease-in-out;
  float: right;
  right: 0;
  font-size: 2vh;
}
#feedback div > input[type="submit"]:hover {
  background-color: rgba(0, 32, 73, 1);
}
#form > form,
#feedback > form {
  display: grid;
  color: #002049;
  position: relative;
  overflow: hidden;
  background-color: #f4f7f8;
}
#form h1 {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  margin: 0;
  font-family: bvnpro, lato-f, sans-serif;
  text-shadow: 0.2vh 0.2vh 1.2vh 0.2vh #002049;
  text-align: left;
  position: sticky;
  top: 0;
  background: linear-gradient(
    #f4f7f8,
    #f4f7f8,
    #f4f7f8,
    #f4f7f8,
    #f4f7f8,
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  z-index: 2;
}
#form > form > img {
  object-fit: cover;
}
#form > form > div {
  margin-top: 2vh;
  overflow: auto;
  display: block;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#form > form > div > * {
  padding-left: 2vh;
  padding-right: 2vh;
  box-sizing: border-box;
}
#form > form > div > div {
  display: grid;
  width: 300%;
  grid-template-columns: repeat(3, 1fr);
  transition: all 0.4s ease-in-out;
}
#form > form > div > div > div {
  margin-right: 2vh;
}
#form > form > div > div > div:nth-child(2),
#form > form > div > div > div:last-child {
  margin-left: 2vh;
}
#form > form > div > div > div > h1 {
  text-align: center;
  font-size: 5vh;
  display: block;
  position: static;
}
#form input,
#form textarea {
  font-size: 2.4vh;
  background: #ebf1f2;
  resize: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.2s ease-in-out;
}
#form input[type="email"],
#form input[type="text"],
#form input[type="file"],
#form textarea {
  padding: 1vh 2vh;
  display: block;
  width: 100%;
  height: 100%;
}
#form .iti {
  width: 100%;
}
#form input[type="date"] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.72vh 2vh;
}
#form input[type="tel"] {
  width: 100%;
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#form input[type="url"] {
  padding: 1vh 2vh;
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
}
#form button {
  height: 100%;
  width: 20%;
  display: inline-block;
  border: none;
  border-radius: 0.6vmin;
}
#form button > p {
  color: #fff;
  vertical-align: top;
  margin-top: 0.3vh;
  margin-bottom: 0;
}
#form button > svg {
  width: 3vh;
  height: 3vh;
  display: inline;
}
#form input[type="range"] {
  padding: 1vh 2vh;
  display: inline-block;
  width: 50%;
  height: 100%;
}
#submit,
#fback {
  margin: 2vh 0;
}
#submit,
#fback,
#feedback div > input[type="submit"] {
  width: fit-content;
  color: #ff7518;
  font-family: bvnpro, lato-f, sans-serif;
  height: auto;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  border-radius: 1vmin;
  cursor: pointer;
}
#we3 {
  margin-bottom: 2vh;
}
#point {
  vertical-align: top;
  align-content: center;
  width: 30%;
  display: inline-block;
  text-align: center;
}
#point > * {
  margin: 0;
  vertical-align: top;
  text-align: center;
}
#form input:focus,
#form textarea:focus {
  background: rgba(0, 0, 0, 0.1);
}
#form > form > div > div > div > div {
  display: grid;
}
.inpctn {
  vertical-align: top;
  grid-column-gap: 6vh;
  position: relative;
  vertical-align: top;
}
.inpctn > div {
  position: relative;
}
.inpctn > div > span:first-child {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(127, 127, 127, 0.5);
  display: block;
  left: 0;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.inpctn > div > span:last-child {
  bottom: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background: #777;
  display: block;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  margin-left: 50%;
}
.inpctn > div:focus-within > span:last-child {
  width: 100%;
  margin-left: 0;
}
#form span {
  display: inline;
  color: #f00;
}
#form p {
  display: inline-block;
  text-align: left;
  margin: 2vh 0 1vh;
  font-size: 2.4vh;
}

.hasBtn{
  display: flex;
}

@media (min-aspect-ratio: 133/100) {
  #form > form,
  #feedback > form {
    margin: 11vh 3vh;
    border-radius: 1vh;
    box-shadow: 3px 3px 10px 2px #002049;
  }
  #form > form {
    height: 78vh;
    grid-gap: 4vh;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
  }
  #form h1 {
    font-size: 5vh;
  }
  #form > form > img {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #form > form > div > div > div > div:first-child {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6vh;
  }
  #form button > p {
    display: inline;
  }
  .container {
    height: 80vh;
    margin-top: 12vh;
  }
  .joinInstructions {
    display: inline-flex;
  }
  .instructionsContent {
    width: 40%;
  }
  .mc-button {
    width: 42vh;
  }
  .join-ip {
    width: 42vh;
  }
}
@media (max-aspect-ratio: 133/100) {
  #form > form,
  #feedback > form {
    margin: 5vh 0;
  }
  #form > form {
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }
  #form h1 {
    font-size: 4vh;
  }
  #form > form > img {
    aspect-ratio: 3/1;
  }
  #form > form > div > div > div > div:first-child {
    grid-template-columns: 1fr;
  }
  #form button > p {
    display: none;
  }
  .container {
    height: 90vh;
    margin-top: 10vh;
  }
  .joinInstructions {
    display: block;
  }
  .instructionsContent {
    width: 100%;
    box-sizing: border-box;
  }
  .jin-video {
    display: none;
  }
  .mc-button {
    margin: auto 2vmin;
  }
  .join-ip {
    margin: auto 2vmin;
  }
}
.container {
  width: 100%;
  float: center;
  overflow: hidden;
  display: block;
}
.joinInstructions {
  margin: 0;
  padding: 0;
  font-size: 1.8vh;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: minecraftmedium;
  font-size: 1.8vh;
  overflow: hidden;
  user-select: none;
  background: url("/assets/img/dirt.png") repeat;
  padding: 0 calc((100vw - (100vh / 9) * 16) / 2);
}

.p-body-header {
  margin-top: 2vh;
}

.p-body-header h1 {
  font-size: 3vh;
}

.p-body-before,
.p-body-after {
  display: none;
}

.p-body-inner {
  max-width: 100%;
  background: 0 0;
  padding: 0;
}

.p-breadcrumbs {
  display: none;
}
.instructionsContent {
  margin-top: 16vh;
  padding: 2vw;
  color: #fff;
}

.instructionsContent h1 {
  width: 42vh;
  margin: auto;
  padding: 1vh 0;
  font-size: 1.8vh;
  font-weight: 400;
  color: #a0a0a0;
  text-shadow: 2px 2px 0 #383838;
  font-family: minecraftmedium;
  text-align: left;
}

.instructionsContent p {
  margin-bottom: 1.2rem;
}

.instructionsContent ol {
  margin-bottom: 1.2rem;
  padding-inline-start: 4.2vmin;
}

.instructionsContent ol li {
  list-style: decimal;
  margin: 0 0 0.5rem 2rem;
}

.instructionsContent span {
  color: #ffcf00;
}

.join-ip {
  position: relative;
  padding: 0 1vh;
  height: 5vh;
  margin: auto;
  margin-bottom: 4vh;
  border: 2px solid #a0a0a0;
  background: #000;
  font-size: 1.8vh;
  color: #fff;
  line-height: 3.6vh;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
}

.ip-value {
  color: #fff !important;
}

.ip-caret {
  height: 2.4vh;
  width: 1.2vh;
  display: inline-block;
  background: 0 0;
  vertical-align: middle;
  margin-top: -1.6vh;
  border-bottom: 0.3vh solid #fff;
  animation: blink 0.75s steps(1) infinite;
}

.join-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 15px 0;
  border-radius: 6px;
  top: -58px;
  left: -3px;
  display: none;
}

.join-ip.state-hover .join-tooltip {
  display: block;
}

.mc-button {
  height: 4.2vh;
  margin: auto;
  background: url("/assets/img/mc-button.png") no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  line-height: 3vh;
  font-size: 1.4vh;
  font-weight: 400;
  text-shadow: 2px 2px 0 #383838;
  margin-bottom: 8px;
  overflow: hidden;
  display: block;
}

/* 
.mc-button.state-hover{ */
.mc-button:hover {
  background-position: 0 -8.4vh;
  text-shadow: 2px 2px 0 #3f3f27;
  color: #ffff9b;
}

/* 
.mc-button.state-disabled { */
.mc-button:active {
  background-position: 0 -4.2vh;
  text-shadow: 2px 2px 0 #383838;
  color: #a0a0a0;
}

.jin-video {
  width: 60%;
  height: auto;
  margin-top: 8%;
}

.jin-video iframe {
  width: 95%;
  height: 80%;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
