.imgal {
  display: grid;
  margin: 10vh 0;
  transition: opacity 0.5s linear 0.4s;
  opacity: 0;
  color: #002049;
  font-size: 2vh;
  grid-auto-rows: 1fr;
}
.imgal > div > div > div > h1 {
  font-family: bvnpro, lato-f, sans-serif;
}
.imgal > div > div > div > p {
  font-family: bvn, lato, sans-serif;
}
.imgal > div > h1 {
  margin: 0;
  transform: translateY(38%);
  width: 100%;
  height: 100%;
}
.gal:hover div {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
}
.gal {
  width: 100%;
  position: relative;
  margin: 0;
  height: calc(100vw * 9 / (16 * var(--grid-height)));
  position: relative;
  display: block;
  color: #dafbff;
}
.gal > div > * {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.gal > div > span,
.gal > div > h1 {
  height: 100%;
  margin: 0;
}
.gal > div > span > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gal > div > h1 {
  transform: translateY(50%);
}
.gal > div > div {
  transition: height 0.2s linear;
  background: rgba(51, 51, 51, 0);
  height: 0;
}
.gal > div > div > * {
  margin: 0 0 0 2vw;
  position: absolute;
  left: 0;
}
.gal > div > div > p {
  bottom: 2vh;
}
.gal > div > div > p:nth-child(3),
.gal > div > div > button {
  display: none;
}
.gal > div > div > h1 {
  bottom: 5vh;
  text-align: left;
}
.cts {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  z-index: 5;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1vmin);
}
.cts > div * {
  display: inline-block;
  position: static;
  z-index: 7;
  height: 100%;
  margin: 0;
  animation: fadein 0.3s ease-out;
}
.cts > div > span {
  height: 100%;
  vertical-align: top;
  position: relative;
}
.cts > div > span > img {
  object-fit: contain;
}
.cts > div > div {
  height: 100%;
  background: #333;
  color: #fff;
  opacity: 1;
  overflow: hidden;
  opacity: 0;
  animation: prgt 0.2s ease-out 0.1s;
  animation-fill-mode: forwards !important;
  position: relative;
}
.cts > div > div > h1,
.cts > div > div > p {
  display: block;
  width: 90%;
  height: auto;
  text-align: left;
}
.cts > div > div > h1 {
  margin: 14% 5% 0;
}
.cts > div > div > p {
  margin: 8% 5% 0;
}
.cts > div > div > button {
  display: block;
  min-width: 8vh;
  height: 4vh;
  float: right;
  margin: 4% 8%;
  border: none;
  background: #555;
  border-radius: 0.7vh;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0 2vh;
}
.cts > div > div > button:hover {
  background: #777;
}
.cts > div > span > span {
  position: absolute;
  transition: opacity 0.2s ease-out;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100vmax;
  cursor: pointer;
}
.he {
  display: block;
  width: 100vw;
  font-family: bvnpro, lato-f;
  font-size: 4vh;
  color: #002049;
  transition: opacity 0.5s linear;
  opacity: 1;
  transform: translateY(40vmin);
}
.xbu {
  position: fixed;
  /* width: 100vw; */
  top: 0;
  left: 0;
  z-index: 7;
  display: none;
}
.xbu > span {
  width: 6vh;
  height: 6vh;
  top: 1vh;
  right: 2vw;
  display: block;
}
.xbu > span > svg {
  height: 4vh;
  width: 4vh;
  margin: 1vh;
}
.xbu span {
  position: fixed;
  cursor: pointer;
}
.xbu > div > span > svg {
  height: 4vh;
  width: 4vh;
  margin: 2vh;
}
.xbu > div {
  position: fixed;
  left: 0;
}
.xbu > div > span {
  width: 8vh;
  height: 8vh;
  transition: opacity 0.2s ease-out;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100vmax;
}
.xbu > div > span:last-child {
  transform: rotate(180deg);
}
.xbu > div > span:hover {
  background: rgba(255, 255, 255, 0.3);
}
@keyframes prgt {
  from {
    opacity: 0;
    transform: translateX(20vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
:root {
  --grid-height: 1;
}
@media (min-aspect-ratio: 133/100) {
  .xbu > div {
    width: 75vw;
  }
  .cts > div > span {
    width: 75vw;
  }
  .cts > div > div {
    width: 25vw;
  }
  .cts > div > span > img {
    margin: 0 5vw;
    width: 65vw;
    height: 100%;
  }
  .xbu > div > span {
    top: 47vh;
    opacity: 0;
    display: none;
  }
  .xbu > div:hover > span {
    display: block;
    opacity: 1;
  }
  .xbu > div > span:first-child {
    left: calc((5vw - 8vh) / 2);
  }
  .xbu > div > span:last-child {
    left: calc(70vw + (5vw - 8vh) / 2);
  }
  .xbu > div {
    height: 100vh;
  }
  .xbu > div {
    top: 0;
  }
}
@media (max-aspect-ratio: 133/100) {
  .xbu > div {
    width: 100vw;
  }
  .cts > div {
    background: #333;
  }
  .cts > div > span {
    width: 100vw;
    height: fit-content;
  }
  .cts > div > div {
    width: 100vw;
    height: calc(100vh - 8vh - 16vh - (100vw * 9 / 16));
    overflow: auto;
  }
  .cts > div > span > img {
    margin: 8vh 0 0;
    width: 100vw;
    height: calc(100vw * 9 / 16);
  }
  .xbu > div > span {
    display: block;
    bottom: 4vh;
  }
  .xbu > div > span:first-child {
    left: 4vh;
  }
  .xbu > div > span:last-child {
    right: 4vh;
  }
  .xbu > div {
    height: 16vh;
  }
  .xbu > div {
    bottom: 0;
  }
}
