<!-- bundle:404 -->
<!-- content begin -->
<div
  id="lll"
  style="width: 94vw; color: #888; font-size: 3vh; margin: 10vh 3vw 0; display: flex;align-items: center;flex-direction: column; justify-content: center;"
>
  <h1 style="margin: 0"><!--:404_title--></h1>
  <p><!--:err_desc--></p>
  <p><!--:err_navi--></p>
</div>
<!-- content end -->
