<!-- bundle:gallery -->
<!-- content begin -->
<div class="xbu">
	<span onclick="window.fgal.brm()">
		<svg viewBox="0 0 22 22" version="1.1">
			<path
					style="fill:#fff;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
					d="m 3,3 v 1 l 7,7 -7,7 v 1 h 1 l 7,-7 7,7 h 1 V 18 L 12,11 19,4 V 3 H 18 L 11,10 4,3 Z" />
		</svg>
	</span>
	<div>
		<span>
			<svg viewBox="0 0 22 22" version="1.1">
				<path fill="#06000" d="m 8,10 5,10 V 18 L 9,10 13,3 V 1 Z" />
			</svg>
		</span>
		<span>
			<svg viewBox="0 0 22 22" version="1.1">
				<path fill="#06000" d="m 8,10 5,10 V 18 L 9,10 13,3 V 1 Z" />
			</svg>
		</span>
	</div>
</div>
<div class="he">
	<h1><!--:gall_typo--></h1>
</div>
<!-- <h1 class="txtd" style="margin: calc(10vh + 6vmin) 0 0 5.8vw;text-align: left;font-family: bvnpro,lato-f,sans-serif;font-size: 8vmin;z-index: 2;position: relative;font-weight: 900;font-variation-settings: 'wght' 900;"><!--:gall_typo--></h1> -->
<!-- <span style="position:absolute;left: 2vw;width: 12vw;top: 7vh;height: 12vw;background: #ff7518;"></span> -->
<!-- <div id="view" style="margin-top: 10vh; padding: 2vh 4vh;">
	<iframe src="https://sightsee.teamfuho.net" frameborder="0" style="width: 96vw;height: 96vh;border-radius: 1vh;" title="Minecraft on air" onmouseenter="inview=true" onmouseleave="inview=false"></iframe>
</div> -->
<!-- will be replaced by the generator -->
<div class="imgal">
</div>
<script>
	var inview=false,
		share="<!--:share-->",
		copied="<!--:copied-->!"
</script>
<!-- <h1>
	<--:up_ing--.>
</h1> -->
<!-- content end -->
