<!-- bundle:news -->
<!-- content begin -->
<script type="text/javascript"></script>
<div id="head">
  <h1 class="txtd"><!--:news--></h1>
  <div>
    <div>
      <input
        type="text"
        placeholder="<!--:search-->"
        onfocus="document.getElementById('srr').style.display='block'"
        onblur="setTimeout(()=>document.getElementById('srr').style.display='none',500)"
        oninput="srfv(this)"
      />
      <svg viewBox="0 0 24 24">
        <path
          fill="#002049"
          d="m 9.0518744,15.505 v -0.79 l 0.27,-0.28 c 1.3999996,1.2 3.3099996,1.82 5.3399996,1.48 2.78,-0.47 5,-2.79 5.34,-5.59 0.52,-4.23 -3.04,-7.79 -7.27,-7.27 -2.7999996,0.34 -5.1199996,2.56 -5.5899996,5.34 -0.34,2.03 0.28,3.94 1.48,5.34 l -0.28,0.27 h -0.79 l -4.25,4.25 c -0.41,0.41 -0.41,1.08 0,1.49 0.41,0.41 1.08,0.41 1.49,0 z m 0,-6 c 0,-2.49 2.0099996,-4.5 4.4999996,-4.5 2.49,0 4.5,2.01 4.5,4.5 0,2.49 -2.01,4.5 -4.5,4.5 -2.49,0 -4.4999996,-2.01 -4.4999996,-4.5 z"
        />
      </svg>
    </div>
    <div id="srr">
      <!-- <a href="#">Quảng trường 3 đình quẩy lên</a>
			<a href="#">Tái hiện Việt Nam thông qua tựa game đình đám Minecraft,</a>
			<a href="#" style="border: none;">bộ nội giao2</a> -->
    </div>
  </div>
</div>
<span
  style="
    position: absolute;
    left: 2vw;
    width: 12vw;
    top: 4vh;
    height: 12vw;
    background: #ff7518;
    border-radius: 100vmax;
  "
></span>
<!-- <div class="grif bgw show-on-scroll">
	<div id="fb">
	</div>
	<div>
		<iframe style="width: 100%;height: 100%;" src="https://www.youtube.com/embed/346ZEE13OmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div>
		<iframe style="width: 100%;height: 100%;" src="https://www.instagram.com/p/CWfmKNkhALu/embed/" frameborder="0"></iframe>
	</div>
	<div id="newsitemn">
		<a href="https://www.facebook.com/teamfuho/posts/4703964873003929">
			<img loading="lazy" src="https://scontent.fhph2-1.fna.fbcdn.net/v/t39.30808-6/259964624_4703478376385912_2679785771036394356_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=eOMPbowIfx0AX-VnYfK&tn=0GEA3coUbhRnK0i_&_nc_ht=scontent.fhph2-1.fna&oh=91e2e7029f4078bd1f4ac1a85aeabe8b&oe=61AB1347" alt="Team Fuho Vietnam"/>
			<span></span>
			<div><h2>Công trình trụ sở Chính phủ Việt Nam</h2></h2></div>
		</a>
	</div>
	<div id="newsitemm">
		<a href="https://www.facebook.com/teamfuho/posts/4613164785417272">
			<img loading="lazy" src="https://scontent.fhph1-3.fna.fbcdn.net/v/t39.30808-6/250179986_4613157195418031_7352371364743128787_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_ohc=-1gxVdL4IGEAX8mSY7I&_nc_ht=scontent.fhph1-3.fna&oh=0c31f85c32611a395313d28ef54d353c&oe=61AB3E30" alt="Team Fuho Vietnam"/>
			<span></span>
			<div><h2>Bạn biết gì về trụ sở Bộ Ngoại giao Việt Nam?!</h2></div>
		</a>
	</div>
	<div id="newsitemp">
		<a href="https://www.facebook.com/teamfuho/posts/4568832669850484">
			<img loading="lazy" src="https://scontent-xsp1-2.xx.fbcdn.net/v/t39.30808-6/241427383_4568786519855099_1985536752762145120_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=jyqMwVtmbGAAX9xblEf&_nc_ht=scontent-xsp1-2.xx&oh=d3f88443970e8bc5f5906af7f25b8ddf&oe=61AC2141" alt="Team Fuho Vietnam">
			<span></span>
			<div><h2>Văn Miếu - Quốc Tử Giám, ngôi trường Đại học đầu tiên của Việt Nam (P1)</h2></div>
		</a>
	</div>
</div> -->
<div class="news bgw show-on-scroll"></div>
<div id="newscontent"></div>
<!-- content end -->
