<div id="path">
    <a href="/shop">Trang chủ</a>
    >
    <a href="/shop/search/Category">Category</a>
    >
    <span>product name</span>
</div>
<main id="product">
    <section>
        <div id="img">
            <section>
                <!-- <img src="/res/img/the2.png" alt=""> -->
            </section>
            <div id="imglist">
                <div>
                    <img src="/res/img/the2.png" alt="">
                    <img src="/res/img/the5.png" alt="">
                    <img src="/res/img/the6.png" alt="">
                    <img src="/res/img/the8.png" alt="">
                    <img src="/res/img/the9.png" alt="">
                    <img src="/res/img/theten.png" alt="">
                    <img src="/res/img/the1.png" alt="">
                    <img src="/res/img/the4.png" alt="">
                    <img src="/res/img/the3.png" alt="">
                    <img src="/res/img/the7.png" alt="">
                </div>
            </div>
        </div>
        <div id="ras">
            <h1>name of the product, whatever, lorem ipsum</h1>
            <!-- <div id="rate">
                <div id="star">
                    <span>4.9</span>
                    <svg viewBox="0 0 160 32">
                        <defs>
                            <linearGradient id="productstar" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fdd836" offset="1" />
                                <stop stop-color="#fff" stop-opacity="0" offset="1" />
                            </linearGradient>
                        </defs>
                        <g fill="url(#productstar)" stroke="#fdd836">
                            <path
                                d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                            <path
                                d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                            <path
                                d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                            <path
                                d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                            <path
                                d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        </g>
                    </svg>
                </div>
                <div id="ratecount">
                    <span>32767</span>
                    <p>Đánh giá</p>
                </div>
                <div id="soldcount">
                    <span>32768</span>
                    <p>Đã bán</p>
                </div>
            </div> -->
            <div id="price">
                <h1 id="orgprice">2.000đ</h1>
                <h1 id="currentprice">1.000đ</h1>
                <p id="discount">50%</p>
            </div>
            <!-- <div id="offer">
                <p>Khuyến mãi</p>
                <section>
                    <span>10% off</span>
                    <span>15% off</span>
                    <span>23% off</span>
                </section>
            </div>
            <div id="deli">
                <p>Vận chuyển</p>
                <div>
                    <section id="location">
                        <p>Địa chỉ:</p>
                        <button>
                            <p>31 cành lá, xã cành cây, huyện gió mây, tỉnh đồi núi</p>
                            <svg viewBox="0 0 10 10">
                                <path style="stroke:#002049;stroke-width:1;" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    d="M 0,3 5,8 10,3" />
                            </svg>
                            <div id="addrlist">
                                <section>
                                    <p>Địa chỉ 1</p>
                                    <span>31 cành lá, xã cành cây, huyện gió mây, tỉnh đồi núi</span>
                                </section>
                                <section>
                                    <p>Địa chỉ 2</p>
                                    <span>đường vào tim iem</span>
                                </section>
                                <section>
                                    <p>Chọn thủ công</p>
                                    <div>
                                        <div>
                                            <span class="insel">Tỉnh/thành</span>
                                            <span>Quận/huyện</span>
                                            <span>Xã/Phường</span>
                                        </div>
                                        <div>
                                            <span>Hà Lội</span>
                                            <span>Hải Phònk</span>
                                            <span>Quảng Link</span>
                                            <span>Sài Gòne</span>
                                            <span>Thừa thiêl - Huệ</span>
                                            <span>De Nắng</span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </button>
                    </section>
                    <section id="delfee">
                        <p>Phí vận chuyển:</p>
                        <span>0đ</span>
                    </section>
                </div>
            </div> -->
            <div id="type">
                <p>Phân loại</p>
                <section>
                    <span>màu đen</span>
                    <span>màu lam</span>
                    <span>màu xanh lam</span>
                </section>
            </div>
            <div id="count">
                <p>Số lượng</p>
                <div>
                    <span>-</span>
                    <input type="number" name="" id="pcount" placeholder="1" max="192" min="1" value="1">
                    <span>+</span>
                </div>
                <p>(192 left)</p>
            </div>
            <div>
                <button id="buy">Buy now</button>
                <button id="addtocart">Add to cart</button>
            </div>
            <div id="desc">
                <h2>Product desc</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam architecto quas numquam velit, saepe, aliquid nostrum qui dolor autem at impedit fugit porro. Blanditiis aliquid quos voluptates ad optio iusto!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="info">
        <h1>Product info</h1>
        <div id="pinfo">
            <p>Tên sản phẩm</p>
            <section></section>
            <p>Danh mục</p>
            <section></section>
            <p>Số lượng</p>
            <section></section>
            <p>Gửi từ</p>
            <section></section>
        </div>
        <h1>Product desc</h1>
        <div id="pdesc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam architecto quas numquam velit, saepe, aliquid nostrum qui dolor autem at impedit fugit porro. Blanditiis aliquid quos voluptates ad optio iusto!</p>
        </div>
    </section>
    <section id="coupon">
        <h1>Coupons</h1>
    </section> -->
    <!-- <section id="rater">
        <div>
            <div id="cmt">
                <section class="cmt">
                    <img src="/res/img/favicon.png" alt="">
                    <div>
                        <div>
                            <section id="usrname">
                                <p>Tên người dùng</p>
                                <p>01/01/2022</p>
                            </section>
                            <svg viewBox="0 0 160 32">
                                <defs>
                                    <linearGradient id="ratebyusrname" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fdd836" offset="1" />
                                        <stop stop-color="#fff" stop-opacity="0" offset="1" />
                                    </linearGradient>
                                </defs>
                                <g fill="url(#ratebyusrname)" stroke="#fdd836">
                                    <path
                                        d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                </g>
                            </svg>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet pariatur temporibus incidunt distinctio! Corporis ipsam facilis dolores molestias sunt illo qui, eaque obcaecati ratione impedit asperiores, earum adipisci vero animi.</p>
                    </div>
                </section>
                <section class="cmt">
                    <img src="/res/img/favicon.png" alt="">
                    <div>
                        <div>
                            <section id="usrname">
                                <p>Tên người dùng</p>
                                <p>01/01/2022</p>
                            </section>
                            <svg viewBox="0 0 160 32">
                                <defs>
                                    <linearGradient id="ratebyusrname" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fdd836" offset="1" />
                                        <stop stop-color="#fff" stop-opacity="0" offset="1" />
                                    </linearGradient>
                                </defs>
                                <g fill="url(#ratebyusrname)" stroke="#fdd836">
                                    <path
                                        d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                </g>
                            </svg>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet pariatur temporibus incidunt distinctio! Corporis ipsam facilis dolores molestias sunt illo qui, eaque obcaecati ratione impedit asperiores, earum adipisci vero animi.</p>
                    </div>
                </section>
                <section class="cmt">
                    <img src="/res/img/favicon.png" alt="">
                    <div>
                        <div>
                            <section id="usrname">
                                <p>Tên người dùng</p>
                                <p>01/01/2022</p>
                            </section>
                            <svg viewBox="0 0 160 32">
                                <defs>
                                    <linearGradient id="ratebyusrname" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fdd836" offset="1" />
                                        <stop stop-color="#fff" stop-opacity="0" offset="1" />
                                    </linearGradient>
                                </defs>
                                <g fill="url(#ratebyusrname)" stroke="#fdd836">
                                    <path
                                        d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                </g>
                            </svg>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet pariatur temporibus incidunt distinctio! Corporis ipsam facilis dolores molestias sunt illo qui, eaque obcaecati ratione impedit asperiores, earum adipisci vero animi.</p>
                    </div>
                </section>
                <section class="cmt">
                    <img src="/res/img/favicon.png" alt="">
                    <div>
                        <div>
                            <section id="usrname">
                                <p>Tên người dùng</p>
                                <p>01/01/2022</p>
                            </section>
                            <svg viewBox="0 0 160 32">
                                <defs>
                                    <linearGradient id="ratebyusrname" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fdd836" offset="1" />
                                        <stop stop-color="#fff" stop-opacity="0" offset="1" />
                                    </linearGradient>
                                </defs>
                                <g fill="url(#ratebyusrname)" stroke="#fdd836">
                                    <path
                                        d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                    <path
                                        d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                                </g>
                            </svg>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet pariatur temporibus incidunt distinctio! Corporis ipsam facilis dolores molestias sunt illo qui, eaque obcaecati ratione impedit asperiores, earum adipisci vero animi.</p>
                    </div>
                </section>
            </div>
            <div id="stars">
                <span>4.9</span>
                <svg viewBox="0 0 160 32">
                    <g fill="url(#productstar)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>32767 bài đánh giá</p>
                <section>5<div><span title="1" style="width: 40%;"></span></div></section>
                <section>4<div><span title="1" style="width: 20%;"></span></div></section>
                <section>3<div><span title="1" style="width: 10%;"></span></div></section>
                <section>2<div><span title="1" style="width: 5%;"></span></div></section>
                <section>1<div><span title="1" style="width: 35%;"></span></div></section>
            </div>
        </div>
    </section> -->
</main>
<div id="related">
    <h1>Các sản phẩm tương tự</h1>
    <div>
        <div class="item">
            <img loading="lazy" src="/res/img/theten.png" alt="item image">
            <p>Thẻ Thành viên Team Fuho</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset="1" />
                            <stop stop-color="#fff" stop-opacity="0" offset="1" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(100+)</p>
            </section>
            <section>
                <p>1.000.000đ</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/aotfh.jpg" alt="item image">
            <p>Áo Team Fuho, bản thường</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset="1" />
                            <stop stop-color="#fff" stop-opacity="0" offset="1" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(10)</p>
            </section>
            <section>
                <p>200.000đ</p>
                <p>-3%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/aotfh.png" alt="item image">
            <p>Áo Team Fuho, hàng limited</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset="1" />
                            <stop stop-color="#fff" stop-opacity="0" offset="1" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(10)</p>
            </section>
            <section>
                <p>320.000đ</p>
                <p>-23%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/sting.jpg" alt="item image">
            <p>Sting vị dâu</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".78" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".82" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(1000+)</p>
            </section>
            <section>
                <p>20.000đ</p>
                <p>-10%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/egg.webp" alt="item image">
            <p>Trứng</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".78" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".82" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(1000+)</p>
            </section>
            <section>
                <p>6.000đ</p>
                <p>-10%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/haohao.jpeg" alt="item image">
            <p>Mỳ Hảo Hảo</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".78" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".82" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(1000+)</p>
            </section>
            <section>
                <p>10.000đ</p>
                <p>-10%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image">
            <p>Phạm Dũng</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".48" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".52" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(100+)</p>
            </section>
            <section>
                <p>100.000đ</p>
                <p>-10%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image">
            <p>Phạm Dũng 2</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".48" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".52" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(100+)</p>
            </section>
            <section>
                <p>50.000đ</p>
                <p>-50%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image">
            <p>Phạm Dũng 3</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".48" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".52" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(100+)</p>
            </section>
            <section>
                <p>69.000đ</p>
                <p>-20%</p>
            </section>
        </div>
        <div class="item">
            <img loading="lazy" src="/res/img/dungdeptrai.jpg" alt="item image">
            <p>Phạm Dũng n+1</p>
            <section>
                <svg viewBox="0 0 160 32">
                    <defs>
                        <linearGradient id="a" x1="1.2536" x2="158.75" y1="15.886" y2="15.886" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#fdd836" offset=".48" />
                            <stop stop-color="#fff" stop-opacity="0" offset=".52" />
                        </linearGradient>
                    </defs>
                    <g fill="url(#a)" stroke="#fdd836">
                        <path
                            d="m23.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m119.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m151.59 18.863c-0.51202 0.51002-0.74403 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.11801-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76103-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m87.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                        <path
                            d="m55.589 18.863c-0.51202 0.51002-0.74402 1.229-0.62702 1.9341l1.416 8.4513-7.2602-3.9061c-0.34801-0.18801-0.73202-0.28101-1.118-0.28101-0.38401 0-0.76902 0.094-1.117 0.28101l-7.2602 3.9061 1.416-8.4513c0.118-0.70502-0.114-1.424-0.62602-1.9341l-6.1022-6.0922 8.3263-1.24c0.76102-0.113 1.416-0.58902 1.7431-1.268l3.6211-7.5122 3.6201 7.5132c0.32801 0.67902 0.98203 1.154 1.7421 1.268l8.3283 1.24z" />
                    </g>
                </svg>
                <p>(100+)</p>
            </section>
            <section>
                <p>$99.9999</p>
                <p>-0%</p>
            </section>
        </div>
    </div>
</div>
<script src="https://unpkg.com/fast-average-color/dist/index.browser.min.js"></script>
