/* dragula css */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: .8;
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    /* margin: 0; */
    color: inherit;
    /* text-decoration: none; */
    transition: all .2s ease-in-out;
    display: flex;
    list-style: none;
    color: #002049;
    margin-bottom: 1vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    border-radius: 1.4vh;
    background-color: #f2f7fb;
    cursor: pointer;
    align-items: center;
}

.gu-mirror>span {
    font-weight: bold;
    color: #fff;
    background-color: #002049;
    padding: 0.5vh;
    border-radius: 1.2vh;
    margin-right: 1vh;
}

.gu-mirror>p {
    width: 100%;
    text-align: left;
    margin: 0 1vh;
}

.gu-mirror>button {
    border: none;
    border-radius: 1.4vh;
    padding: 1vh;
    background-color: #002049;
    color: #fff;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    transition: all .2s ease-in-out;
}

.gu-hide {
    display: none !important
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.gu-transit {
    opacity: .2
}

/* web css */
.d{
    color: #000;
}
h1{
    margin: 3vh 0 0;
    font-family: bvnpro, lato-f, sans-serif;
    font-size: 6vh;
    color: #002049;
}
#cart{
    background-color: #f2f7fb;
    /* padding: 2vh;    */
    /* margin: 0 var(--nsw) 4vh; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border-radius: 1.4vh; */
}
#cart table{
    width: 100%;
    background-color: #fff;
    /* border-radius: 1.4vh; */
    box-sizing: border-box;
}
#cart table *{
    border: none;
    /* box-sizing: border-box; */
}
#cart table th{
    text-align: center;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    color: #002049;
}
#cart table tr{
    transition: all .2s ease-in-out;
    display: grid;
    /* grid-template-columns: 5% 50% 15% 10% 10% 10%; */
    /* gap: 2vh; */
    /* padding: 1vh; */
}
#cart table tr img{
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 1.2vh;
}
#cart table tr input[type=number]{
    width: 6vh;
    height: 3vh;
    border: none;
    border-radius: 1vh;
    text-align: center;
    font-size: 1.5vh;
    color: #002049;
    -moz-appearance: textfield;
}
#cart table tr input::-webkit-outer-spin-button,
#cart table tr input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#cart table tr > td:last-child>a{
    color: #002049;
    text-decoration: none;
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    border: 1px solid #002049;
    border-radius: 1vh;
    padding: 1vh;
    transition: all .2s ease-in-out;
}
#cart table tr > td:last-child>a:hover{
    background-color: #002049;
    color: #fff;
}
#cart table tbody tr:hover{
    background-color: rgba(0, 32, 73, 0.1);
}
#cart table tbody tr td:nth-child(2) > img{
    max-width: 8vh;
    margin-right: 4vh;
}
#cart table tbody tr td:nth-child(3) div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    gap: .5vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    background-color: #f2f7fb;
    border-radius: 1.2vh;
}
#cart table tbody tr td:nth-child(3){
    min-width: 15%;
}
#cart table tbody tr td:nth-child(3) span {
    cursor: pointer;
    width: 4vh;
    /* height: 4vh; */
    text-align: center;
    color: #002049;
    font-size: 2vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#cart table td{
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: #002049;
}
#cart table td h3{
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
}
#cart table tbody tr td:nth-child(2){
    justify-content: left;
}
#cart table tbody tr td:nth-child(4),#cart table tbody tr td:nth-child(5){
    /* justify-content: center; */
    font-size: 2vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#cart table td span{
    font-weight: bold;
}

#checkout{
    /* background-color: #f2f7fb; */
    /* padding: 2vh; */
    /* margin: 0 var(--nsw) 10vh; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border-radius: 1.4vh; */
    display: flex;
    /* gap: 2vh; */
}
#checkout p{
    margin: 0;
}
#checkout> *{
    /* width: 50%; */
    box-sizing: border-box;
    /* border-radius: 1.4vh; */
    /* padding: 2vh; */
    background-color: #fff;
}
#checkout > div > h1{
    font-size: 2.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    color: #002049;
}
#checkout > div#coupon{
    display: block;
    /* align-items: center; */
    /* justify-content: left; */
    /* height: 100%; */
    /* width: 50%; */
}
#checkout>div#coupon>section{
    margin-bottom: 2vh;
}
#checkout>div#coupon>section:nth-child(2){
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* width: 60%; */
    /* gap: 2vh; */
    background: #f2f7fb;
    /* width: fit-content; */
    /* margin: 0 auto; */
    border-radius: 1.4vh;
    padding: 0 1vh;
}
#checkout>div#coupon>section:nth-child(2)>input{
    width: 100%;
    border: 0;
    border-radius: 1.4vh;
    /* padding: 2vh; */
    background: inherit;
    /* background-color: #f2f7fb; */
    color: #002049;
    font-size: 1.8vh;
    font-family: bvnpro,lato-f,sans-serif;
}
#checkout>div#coupon>section:nth-child(2)>input:focus{
    outline: none;
}
#checkout>div#coupon>section:nth-child(2)>button{
    border: 0;
    border-radius: 1.4vh;
    /* padding: 1vh 1.5vh; */
    background-color: #002049;
    color: #fff;
    font-size: 1.8vh;
    font-family: bvnpro,lato-f,sans-serif;
    transition: all .2s ease-in-out;
    /* height: 5vh; */
}
#checkout > div#coupon > section#applied_coupon{
    /* display: flex; */
    align-items: center;
    justify-content: left;
    /* height: 100%; */
}
#checkout > div#coupon > section#available_coupon{
    /* display: flex; */
    align-items: center;
    justify-content: left;
    /* height: 100%; */
}
#checkout > div#coupon > section > h3{
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: #002049;
}
#checkout > div#coupon > section > ul{
    display: block;
    /* align-items: center; */
    /* justify-content: left; */
    /* height: 100%; */
    min-height: 3vh;
    /* padding: 0 2vh; */
}
#checkout > div#coupon > section > ul > li{
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    /* margin: 0; */
    color: inherit;
    /* text-decoration: none; */
    transition: all .2s ease-in-out;
    display: flex;
    list-style: none;
    color: #002049;
    margin-bottom: 1vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    border-radius: 1.4vh;
    background-color: #f2f7fb;
    cursor: pointer;
    align-items: center;
}
#checkout > div#coupon > section > ul > li > span{
    font-weight: bold;
    color: #fff;
    background-color: #002049;
    padding: 0.5vh;
    border-radius: 1.2vh;
    margin-right: 1vh;
}
#checkout > div#coupon > section > ul > li > p{
    width: 100%;
    text-align: left;
    margin: 0 1vh;
}
#checkout > div#coupon > section > ul > li > button{
    border: none;
    border-radius: 1.4vh;
    padding: 1vh;
    background-color: #002049;
    color: #fff;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
#checkout > div#coupon > section > ul > li > button:hover{
    background-color: #fff;
    color: #002049;
}
#checkout > div#coupon > section > ul > li > button:focus{
    outline: none;
}
#checkout > div#coupon > section > ul > li:hover{
    color: #002049;
}
#checkout > div#payment{
    /* display: flex; */
    align-items: center;
    /* justify-content: left; */
    /* height: 100%; */
}
#checkout > div#payment > p{
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0 0 2vh;
    color: #002049;
}
#checkout > div#payment > h3{
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: #002049;
}
#checkout > div#payment > div#delivery{
    display: flex;
    align-items: center;
    /* justify-content: left; */
    /* height: 100%; */
    /* margin: 2vh; */
}
#checkout > div#payment > div#delivery > p{
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: #002049;
}
#checkout > div#payment > div#delivery > select{
    width: 100%;
    border: none;
    border-radius: 1.4vh;
    padding: 1vh 2vh;
    background-color: #f2f7fb;
    color: #002049;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#checkout > div#payment > button{
    /* width: 100%; */
    /* display: flex; */
    float: right;
    border: none;
    border-radius: 2vh;
    padding: 2vh;
    background-color: #002049;
    color: #fff;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

@media (min-aspect-ratio: 133/100) { /* pc view */
    #cart table {
        padding: 0 1vh;
    }
    #cart table tr {
        padding: 1vh;
    }
    #cart,
    #cart table {
        border-radius: 1.4vh;
    }
    #cart {
        padding: 2vh;
        margin: 0 var(--nsw) 4vh;
    }
    #cart table * {
        box-sizing: border-box;
    }
    #cart table tr {
        grid-template-columns: 5% 50% 15% 10% 10% 10%
    }
    #cart table tbody tr{
        height: 10vh;
        border-radius: 1.2vh;
        margin-bottom: 2vh;
    }
    #checkout,
    #checkout>* {
        border-radius: 1.4vh;
        padding: 2vh
    }
    #checkout {
        background-color: #f2f7fb;
        margin: 0 var(--nsw) 10vh;
        gap: 2vh
    }
    #checkout>* {
        width: 50%;
    }
    #checkout>div#coupon>section:nth-child(2) {
        width: 60%;
        margin: 0 auto;
    }
    #checkout>div#coupon>section:nth-child(2)>input {
        padding: 2vh;
    }
    #checkout>div#coupon>section:nth-child(2)>button {
        padding: 1vh 1.5vh;
        height: 5vh;
    }
    #checkout>div#coupon>section>ul {
        padding: 0 2vh;
    }
    #checkout>div#payment>div#delivery {
        margin: 2vh
    }
}

@media (max-aspect-ratio: 133/100) { /* mobile view */
    #cart {
        margin: 0 0 4vh;
    }
    #cart table {
        border-spacing: 0;
        padding: 0;
    }
    #cart table tr {
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 10% 50% 20% 20%;
    }
    #cart table tbody tr {
        height: 15vh;
        row-gap: 1vh;
        padding: 2vh var(--nsw) 1vh;
        position: relative;
    }
    #cart table tbody tr td:nth-child(3) {
        grid-column: 2/3;
        justify-content: start;
    }
    #cart table tbody tr td:nth-child(2) {
        grid-column: 2/4;
    }
    #cart table tbody tr td:nth-child(4) {
        display: none;
    }
    #cart thead {
        display: none;
    }    
    #cart table tbody tr td:nth-child(5) {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #cart table td:last-child {
        grid-column: 3/5;
        justify-content: end;
    }
    #cart table tbody tr:nth-child(odd) {
        background-color: #f2f7fb;
    }
    #cart table tbody tr:nth-child(odd) td:nth-child(3) div {
        background: #fff;
    }
    #cart table tbody tr:nth-child(odd) input[type=number] {
        background: #f2f7fb;
    }
    #checkout {
        flex-direction: column;
    }
    #checkout>div#coupon {
        position: relative;
    }
    #checkout>div#coupon>section:nth-child(2) {
        margin: .5vh var(--nsw);
    }
    #checkout>div#coupon>section:nth-child(2)>input {
        padding: 1.8vh 2vh;
    }
    #checkout>div#coupon>section:nth-child(2)>button {
        padding: 0 1.5vh;
        height: 4.4vh;
    }
    #checkout>div#coupon>section>ul {
        padding: 0 var(--nsw);
    }
    #checkout>div#payment {
        margin-bottom: 2vh;
    }
    #checkout>div#payment>div#delivery {
        margin: 2vh var(--nsw);
    }
    #checkout>div#payment>button {
        margin-right: var(--nsw);
    }
    #checkout>div#coupon::after {
        content: "";
        height: 1px;
        width: 50%;
        background-color: rgb(43 43 43 / 23%);
        display: block;
        position: absolute;
        bottom: 0;
        left: 25%;
    }
}
