/* similar to cart.css */
h1{
    margin: 3vh 0 0;
    font-family: bvnpro, lato-f, sans-serif;
    font-size: 6vh;
    color: #002049;
}
body > p{
    margin: 0 0 2vh;
    font-family: bvn, lato-f, sans-serif;
    font-size: 2vh;
    color: #002049;
}
#selected,#info,#summary{
    background-color: #f2f7fb;
    /* padding: 2vh; */
    /* margin: 0 var(--nsw) 4vh; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border-radius: 1.4vh; */
}
#selected > table {
    width: 100%;
    background-color: #fff;
    /* border-radius: 1.4vh; */
    box-sizing: border-box;
    /* padding: 0 1vh; */
}

#selected > table * {
    border: none;
    box-sizing: border-box;
}

#selected > table th {
    text-align: center;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    color: #002049;
}

#selected > table tr {
    transition: all .2s ease-in-out;
    display: grid;
    /* grid-template-columns: 55% 15% 10% 10% 10%; */
    /* gap: 2vh; */
    padding: 1vh;
}

#selected > table tr img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 1.2vh;
}

#selected > table tr input[type=number] {
    width: 6vh;
    height: 3vh;
    border: none;
    border-radius: 1vh;
    text-align: center;
    font-size: 1.5vh;
    color: #002049;
    -moz-appearance: textfield;
    background: none;
}

#selected > table tr input::-webkit-outer-spin-button,
#selected > table tr input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#selected > table tr>td:last-child>a {
    color: #002049;
    text-decoration: none;
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    border: 1px solid #002049;
    border-radius: 1vh;
    padding: 1vh;
    transition: all .2s ease-in-out;
}

#selected > table tr>td:last-child>a:hover {
    background-color: #002049;
    color: #fff;
}

#selected > table tbody tr:hover {
    background-color: rgba(0, 32, 73, 0.1);
}

#selected > table tbody tr {
    /* height: 10vh; */
    /* border-radius: 1.2vh; */
    margin-bottom: 2vh;
}

#selected > table tbody tr td:first-child>img {
    max-width: 8vh;
    margin-right: 4vh;
}

#selected > table tbody tr td:nth-child(2) div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    gap: .5vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    background-color: #f2f7fb;
    border-radius: 1.2vh;
}

#selected > table tbody tr td:nth-child(2) {
    min-width: 15%;
}

#selected > table tbody tr td:nth-child(2) span {
    cursor: pointer;
    width: 4vh;
    /* height: 4vh; */
    text-align: center;
    color: #002049;
    font-size: 2vh;
    font-family: bvnpro, lato-f, sans-serif;
}

#selected > table td {
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: #002049;
}

#selected > table td h3 {
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
}

#selected > table tbody tr td:first-child {
    justify-content: left;
}

#selected > table tbody tr td:nth-child(3),
#selected > table tbody tr td:nth-child(4) {
    /* justify-content: center; */
    font-size: 2vh;
    font-family: bvnpro, lato-f, sans-serif;
}

#selected > table td span {
    font-weight: bold;
}

#info,
#summary {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    /* gap: 2vh; */
    min-height: 30vh;
}
#info > div,
#summary > div {
    /* width: 100%; */
    /* gap: .5vh; */
    /* padding: 0.5vh 1vh; */
    box-sizing: border-box;
    background-color: #fff;
    /* border-radius: 1.2vh; */
    position: relative;
}
#info > div#location > section,
#summary > div#payment_method > section{
    display: flex;
    align-items: center;
    /* margin: 2vh; */
    gap: 2vh;
}
#info > div > h3,
#summary > div > h3 {
    font-size: 2vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 2vh 0;
    color: #002049;
}
#info > div > section > p,
#summary > div > section > p {
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    color: #002049;
}
#info > div#location > p,
#summary > div#payment_method > p {
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
}
#info > div#location > section > select,
#summary > div#payment_method > section > select{
    width: 100%;
    border: none;
    border-radius: 1.4vh;
    padding: 1vh 2vh;
    background-color: #f2f7fb;
    color: #002049;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#info > div#location > section > select::-webkit-outer-spin-button,
#info > div#location > section > select::-webkit-inner-spin-button,
#summary > div#payment_method > section > select::-webkit-outer-spin-button,
#summary > div#payment_method > section > select::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#info > div#location > section > select option,
#summary > div#payment_method > section > select option{
    color: #002049;
}
#info > div#location > section > select option:selected,
#summary > div#payment_method > section > select option:selected{
    color: #002049;
}
#info > div#location > section > select option:hover,
#summary > div#payment_method > section > select option:hover{
    color: #002049;
}
#info > div#location > section > select option:disabled,
#summary > div#payment_method > section > select option:disabled{
    color: #002049;
}
/* #info > div#select_coupon > h3{
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
} */
#info > div#select_coupon > p{
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
}
#info > div#select_coupon > section > ul{
    display: block;
    /* align-items: center; */
    /* justify-content: left; */
    /* height: 100%; */
    min-height: 3vh;
    /* padding: 0 2vh; */
}
#info > div#select_coupon > section > ul > li{
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    /* margin: 0; */
    color: inherit;
    /* text-decoration: none; */
    transition: all .2s ease-in-out;
    display: flex;
    list-style: none;
    color: #002049;
    margin-bottom: 1vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    border-radius: 1.4vh;
    background-color: #f2f7fb;
    cursor: pointer;
    align-items: center;
}
#info > div#select_coupon > section > ul > li > span{
    font-weight: bold;
    color: #fff;
    background-color: #002049;
    padding: 0.5vh;
    border-radius: 1.2vh;
    margin-right: 1vh;
}
#info > div#select_coupon > section > ul > li > p{
    width: 100%;
    text-align: left;
    margin: 0 1vh;
}

/* #summary > div#payment_method > h3{
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
} */
#summary > div#payment_method > p{
    font-size: 1.5vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
}
#summary > div#sum {
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
    /* width: fit-content; */
    gap: .5vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.2vh;
    color: #002049;
}
/* #summary > div#sum > *{
} */
/* #summary > div#sum > h3{
    font-size: 2vh;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 0;
    color: inherit;
} */
#summary > div#sum > p{
    /* font-size: 1.8vh; */
    font-family: bvn, lato-f, sans-serif;
    color: inherit;
    text-align: right;
    /* margin: .5vh 0; */
}
#summary > div#sum > h2{
    /* font-size: 2vh; */
    font-family: bvnpro, lato-f, sans-serif;
    /* margin: 1vh 0 2vh; */
    color: inherit;
    text-align: right;
}
#summary > div#sum > button{
    float: right;
    border: none;
    border-radius: 2vh;
    padding: 2vh;
    background-color: #002049;
    color: #fff;
    font-size: 1.8vh;
    font-family: bvnpro, lato-f, sans-serif;
    transition: all .2s ease-in-out;
    cursor: pointer;
    /* -moz-appearance: textfield; */
}

@media (min-aspect-ratio: 133/100) { /* mobile view */
    #selected,
    #info,
    #summary {
        padding: 2vh;
        margin: 0 var(--nsw) 4vh;
        border-radius: 1.4vh;
    }
    #selected>table {
        border-radius: 1.4vh;
        padding: 0 1vh
    }
    #selected>table tr {
        grid-template-columns: 55% 15% 10% 10% 10%;
    }
    #selected>table tbody tr {
        height: 10vh;
        border-radius: 1.2vh;
    }
    #info,
    #summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
    }
    #info>div,
    #summary>div {
        padding: .5vh 1vh;
        border-radius: 1.2vh
    }
    #info>div#location>section,
    #summary>div#payment_method>section {
        margin: 2vh;
    }
    #info>div#select_coupon>section>ul {
        padding: 0 2vh
    }
    #summary>div#sum>p {
        font-size: 1.8vh;
        margin: .5vh 0;
    }
    #summary>div#sum>h2 {
        font-size: 2vh;
        margin: 1vh 0 2vh;
    }
}

@media (max-aspect-ratio: 133/100) { /* mobile view */
    #info,#selected,#summary {
        margin: 0 0 4vh;
    }
    #selected>table {
        border-spacing: 0;
    }
    #selected>table tr {
        grid-template-columns: 55% 20% 25%;
        grid-template-rows: 2fr 1fr;
    }
    #selected>table tbody tr {
        height: 15vh;
    }
    #selected>table tbody tr td:nth-child(2) {
        grid-column: 2/3;
    }
    #selected>table tbody tr td:first-child {
        grid-column: 1/3;
    }
    #info,#summary {
        display: flex;
        flex-direction: column;
    }
    #info>div#location>section,#summary>div#payment_method>section {
        margin: 2vh var(--nsw);
    }
    #info>div#select_coupon>section>ul {
        padding: 0 var(--nsw);
    }
    #summary>div#sum>h2,#summary>div#sum>p {
        font-size: 2vh;
        margin: var(--nsw) 0;
        padding-right: 3%;
    }
    #summary>div#sum>button {
        margin: 0 0 2vh 0;
    }
    #selected table thead {
        display: none;
    }
    #selected>table tbody tr td:nth-child(3) {
        display: none;
    }
    #selected>table tbody tr td:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #selected>table tbody tr:nth-child(odd) {
        background: #f2f7fb;
    }
    #selected>table tbody tr:nth-child(odd) td:nth-child(2) div {
        background-color: #fff;
    }
    div#select_coupon::after,
    div#payment_method::after {
        content: "";
        height: 1px;
        width: 50%;
        background-color: rgb(43 43 43/23%);
        display: block;
        position: absolute;
        bottom: 0;
        left: 25%;
    }
}
