@import "../../product-list.css";

#top_seller {
    margin: 10vh var(--nsw);
    position: relative;
    height: fit-content;
    box-sizing: border-box;
}

#top_seller::before,
#top_seller::after {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    /* width: 5vh; */
    z-index: 3;
    content: "";
    /* background-color: red; */
}

#top_seller::before {
    left: 0;
    background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0));
}

#top_seller::after {
    right: 0;
    background-image: linear-gradient(to left, #fff, rgba(0, 0, 0, 0));
}

#top_seller>div {
    display: flex;
    overflow: auto;
    /* height: 40vh; */
    width: 100%;
    /* padding: 0 5vh; */
    box-sizing: border-box;
    gap: 2vh;
}

#top_seller>div::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}

#top_seller>div::-webkit-scrollbar-track {
    border-radius: 1vh;
}

#top_seller>div::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 1vh;
}

#top_seller>div::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

#top_seller h1 {
    text-align: center;
    color: #002049;
    /* font-size: 6vh; */
    margin-bottom: 2vh;
}

.tfh {
    position: relative;
    width: 100%
}

.tfh>h1 {
    /* margin: 10vh 0; */
    margin: 3vh 0 0;
    font-family: bvnpro, lato-f, sans-serif;
    /* font-size: 8vh; */
    z-index: 2;
    position: relative;
    /* font-weight: 900; */
    /* polyfilled */
    /* font-variation-settings: 'wght'900; */
}

.tfh>span {
    position: absolute;
    border-radius: 100vmax;
}
@media (min-aspect-ratio: 133/100) { /* pc view */
    #top_seller>div {
        height: 40vh;
        padding: 0 5vh;
    }

    #top_seller h1 {
        font-size: 6vh;
    }

    .tfh>h1 {
        font-size: 8vh;
    }

    #top_seller::after,
    #top_seller::before {
        width: 5vh;
    }
}

@media (max-aspect-ratio: 133/100) { /* mobile view */
    #top_seller>div {
        /* height: 40vh; */
        height: 36vh;
        /* padding: 0 5vh; */
        padding: 2vh 1vh;
    }

    #top_seller h1 {
        /* font-size: 6vh; */
        font-size: 4.8vh;
    }

    .tfh>h1 {
        /* font-size: 8vh; */
        font-size: 6vh;
    }
    
    #top_seller::after,
    #top_seller::before {
        /* width: 5vh; */
        width: 2vh;
    }
}
