#path{
    font-size: 2vh;
    color: #002049;
    margin: 3vh var(--nsw) 2vh;
}
#path>a{
    color:#ff7518;
    text-decoration: none;
}

#product{
    /* background-color: #f2f7fb; */
    /* padding: 2vh; */
    margin: 0 var(--nsw) 10vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1.4vh;
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
    /* display: flex; */
}
#product * {
    font-family: bvn, lato-f, sans-serif;
}
#product p {
    margin: 0;
    font-size: 1.7vh;
}
#product>section{
    border-radius: 1vh;
    background-color: #fff;
    padding: 2vh;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    /* margin-bottom: 2vh; */
}
#product>section:first-child{
    display: flex;
    padding: 2vh;
    box-sizing: border-box;
    gap: 2vh;
    min-height: 68vh;
    /* grid-column: 1/3; */
}
#product h1{
    text-align: left;
    color: #002049;
    font-family: bvnpro, lato-f, sans-serif;
}
#product>section:first-child>div:last-child>h1{
    /* margin: 2vh 0 3vh; */
    font-size: 2.5vh;
}
#product>section:first-child>div:last-child>div{
    display: flex;
    margin-bottom: 2vh;
    color: #002049;
}
#product>section:first-child>div:last-child>div>p:first-child{
    width: 14vh;
    padding: .5vh;
    text-align: left;
    color: #002049;
    font-size: 1.6vh;
}
#product>section:first-child>div:last-child>div>section>*{
    display: inline-block;
    margin-right: 1vh;
}
#product>section:first-child>div:last-child>div>div>svg{
    height: 2vh;
    width: 10vh;
}
#product>section:first-child>div:last-child>div>section>span{
    margin-right: 2vh;
    border-radius: .7vh;
    padding: 0.5vh 1vh;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#product>section:first-child>div:last-child>div>section>*:nth-child(2){
    max-width: 78%;
}
/* #product div#rate>div{
    display: flex;
    margin-right: 4vh;
    color: #002049;
    gap: 1vh;
    align-items: flex-end;
}
#product div#rate>div>span{
    color: #ff7518;
    font-family: bvnpro, lato-f, sans-serif;
    font-size: 1.7vh;
} */
#product div#price{
    align-items: center;
}
#product div#price>*{
    margin-right: 4vh;
}
#product div#price>#orgprice{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
}
#product div#price>h1{
    font-size: 4vh;
    /* margin: 0 4vh 0 0; */
}
#product div#price>#currentprice{
    color: #ff7518;
}
#product div#price>p{
    border: 1px solid red;
    border-radius: .5vh;
    color: red;
    box-sizing: border-box;
    padding: 0 .2vh;
    font-size: 1.2vh;
}
/* #product>section:first-child>div:last-child>div>section>span:hover{
    background-color: rgba(43, 43, 43, 0.1);
} */
/* #product div#deli>div>section>button:hover{
    background-color: rgb(43 43 43 / 10%);
} */
/* #product div#offer{
    color: #002049;
    font-size: 1.5vh;
}
#product div#offer>section>span{
    background: rgba(255, 117, 24,.75);
    color: #fff;
    font-family: bvnpro, lato-f, sans-serif;
}
#product div#offer>section>span:hover {
    background: rgba(255, 117, 24, 1);
}
#product div#deli>div>section{
    display: flex;
    gap: 2vh;
    position: relative;
    margin-bottom: .5vh;
}
#product div#deli>div>section>p{
    width: 14vh;
    text-align: left;
    padding: .5vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#product div#deli>div>section>button{
    display: flex;
    padding: 0 1vh .5vh;
    border-radius: .7vh;
    position: relative;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #eee;
}
#product div#deli>div>section>button>p{
    max-width: 20vw;
    transition: all 0.2s ease-in-out;
    color: #002049;
    text-align: left;
}
#product div#deli>div>section>button>p:hover{
    color: #ff7518;
}
#product div#deli>div>section>button>svg{
    width: 1vh;
    height: 1vh;
    padding: 1vh;
}
#product div#deli>div>section>button:focus div#addrlist{
    display: block;
}
#product div#addrlist{
    position: absolute;
    width: 100%;
    height: 30vh;
    box-sizing: border-box;
    padding: .5vh 0;
    display: none;
    bottom: -31vh;
    border-radius: .5vh;
    z-index: 3;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #eee;
}
#product div#addrlist::-webkit-scrollbar {
    width: .5vh;
    height: .5vh;
}
#product div#addrlist::-webkit-scrollbar-track {
    border-radius: 1vh;
}
#product div#addrlist::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 1vh;
}
#product div#addrlist::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
#product div#addrlist p{
    font-size: 1.7vh;
}
#product div#addrlist span{
    font-size: 1.6vh;
    color: #002049;
    font-family: bvn, lato-f, sans-serif;
    text-align: left;
}
#product div#addrlist>section{
    display: flex;
    gap: 1vh;
    padding: 1vh;
}
#product div#addrlist>section p{
    transition: all 0.3s ease-in-out;
    color: #002049;
}
#product div#addrlist>section:hover,
#product div#addrlist>section>div>div:last-child>span:hover{
    background-color: #ff7518;
    color: #fff;
}
#product div#addrlist>section:hover>p,#product div#addrlist>section:hover>span{
    color: #fff;
}
#product div#addrlist>section:last-child:hover{
    background-color: inherit;
}
#product div#addrlist>section:last-child:hover>p{
    color: #002049;
}
#product div#addrlist>section:last-child{
    margin: 2vh 1vh;
    padding: .5vh 0;
    flex-direction: column;
}
#product div#addrlist>section>p{
    text-align: left;
    white-space: nowrap;
    width: 22%;
    color: #002049;
}
#product div#addrlist>section:last-child>p{
    text-align: center;
    width: 100%;
}
#product div#addrlist>section>span{
    max-width: 75%;
}
#product div#addrlist>section>div{
    width: 100%;
    height: 100%;
    border: 1px solid #ff7518;
    border-radius: .7vh;
}
#product div#addrlist>section>div>div:first-child{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1vh;
}
#product div#addrlist>section>div>div:first-child>span.insel{
    color: #ff7518;
    border-bottom: .25vh solid #ff7518;
}
#product div#addrlist>section>div>div:last-child{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 20vh;
}
#product div#addrlist>section>div>div:last-child::-webkit-scrollbar {
    width: .5vh;
    height: .5vh;
}
#product div#addrlist>section>div>div:last-child::-webkit-scrollbar-track {
    border-radius: 1vh;
}
#product div#addrlist>section>div>div:last-child::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 1vh;
}
#product div#addrlist>section>div>div:last-child::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
#product div#addrlist>section>div>div>span{
    padding: 1vh 2vh;
}
#product div#addrlist>section>div>div:last-child>span{
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
} */
#product div#type>section>span {
    background: rgba(43, 43, 43, .16);
    color: #002049;
    font-size: 1.7vh;
}
#product div#type>section>span:hover {
    background: rgba(43, 43, 43, .2);
}
#product span.tselected {
    background: rgba(43, 43, 43, .2)!important;
    border: 1px solid #002049;
}
#product div#count{
    display: flex;
    align-items: center;
}
#product div#count input[type=number]{
    width: 4vh;
    height: 4vh;
    border: none;
    border-radius: 1vh;
    text-align: center;
    font-size: 1.5vh;
    color: #002049;
    background-color: #fff;
    -moz-appearance: textfield;
    appearance: textfield;
}
#product div#count input::-webkit-outer-spin-button,
#product div#count input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
#product div#count>div{
    display: flex;
    align-items: center;
    height: 4vh;
    /* margin-right: 4vh; */
}
#product div#count>div>span{
    padding: 1vh;
    cursor: pointer;
    font-size: 1.7vh;
}
#product div#desc{
    flex-direction: column;
    
}
#product div#desc>h2{
    font-size: 2vh;
    color: #002049;
    font-family: bvnpro, lato-f, sans-serif;
    margin: 1vh 0 .5vh;
}
#product div#desc>div{
    width: 100%;
    box-sizing: border-box;
    padding: 0 1vh;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#product div#desc>div *{
    color: #002049;
    text-align: left;
    font-size: 1.7vh;
}
#product>section>div>div>button{
    border-radius: 1vh;
    padding: 1vh;
    font-size: 1.5vh;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 2vh;
}
#product>section>div>div>button:first-child{
    background-color: #ff7518;
    color: #fff;
    border: none;
    margin-left: .5vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#product>section>div>div>button:last-child{
    background:none;
    border: 1px solid #ff7518;
    color: #ff7518;
}
#product>section:first-child>div>section{
    background-size: contain;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 50vh; */
    box-shadow: 0 .2vh .4vh 0 rgb(43 43 43 / 10%);
    border-radius: 1vh;
    margin-bottom: 2vh;
    overflow: hidden;
    display: block;
}
#product>section:first-child>div>section>img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}
#product div#imglist {
    position: relative;
    height: fit-content;
    /* box-sizing: border-box; */
}
#product div#imglist::before,#product div#imglist::after {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 2.4vh;
    z-index: 3;
    content: "";
    cursor: pointer;
    /* background-color: red; */
}
#product div#imglist::before {
    left: 0;
    background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0));
}
#product div#imglist::after {
    right: 0;
    background-image: linear-gradient(to left, #fff, rgba(0, 0, 0, 0));
}
#product div#imglist>div {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: fit-content;
    width: 100%;
    /* padding: 0 5vh; */
    /* box-sizing: border-box; */
    gap: 1vh;
}
#product div#imglist>div::-webkit-scrollbar {
    width: .1vh;
    height: .1vh;
}
#product div#imglist>div::-webkit-scrollbar-track {
    border-radius: 1vh;
}
#product div#imglist>div::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 1vh;
}
#product div#imglist>div::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
#product div#imglist>div>img{
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    border-radius: .7vh;
}
#product>section>h1{
    margin: 0 0 1vh;
    font-size: 2.5vh;
}
/* #product>section#info>div{
    margin-bottom: 4vh;
    padding: 0 1vh;
}
#product>section#info>div#pinfo {
    display: grid;
    grid-template-columns: 24vh auto;
}
#product>section#info>div *{
    color: #002049;
    text-align: left;
}
#product>section#info>div#info>p{
    font-size: 1.5vh;
}
#product>section#info>div#info>section,
#product>section#info>div#pdesc>p{
    font-size: 1.7vh;
}
#product>section#info,#product>section:last-child{
    margin-right: 2vh!important;
}
#product>section#coupon{
    grid-column: 2/3;
    grid-row: 2/4;
    margin-bottom: 0;
}
#product div#stars{
    border: 1px solid #ff7518;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    padding: 2vh;
    height: 10vh;
    gap: 4vh;
}
#product div#stars>section>svg{
    height: 3vh;
    width: 15vh;
}
#product div#stars>section>div{
    display: flex;
    gap: 1vh;
    width: fit-content;
    align-items: flex-end;
}
#product div#stars>section:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
#product div#stars>section>*{
    margin: 0 auto;
}
#product div#stars>section>div>*{
    color: #ff7518;
}
#product div#stars>section>div span{
    font-family: bvnpro, lato-f, sans-serif;
}
#product div#stars>section:first-child>div>span{
    font-size: 2.4vh;
}
#product div#stars>section:first-child>div>p{
    font-size: 2vh;
}
#product div#stars>section:last-child{
    width: 70%;
}
#product div#stars>section:last-child>div{
    display: flex;
    align-items: center;
    width: 100%;
}
#product div#stars>section:last-child>div:first-child{
    justify-content: space-between;
}
#product div#stars>section:last-child>div:last-child{
    gap: 2vw;
}
#product div#stars>section:last-child>div>div{
    display: flex;
    gap: 1vh;
    align-items: flex-end;
}
#product div#stars>section:last-child>div>div>* {
    font-size: 2vh;
}
#product div#stars>section:last-child p{
    color: #002049;
} */
/* #product>section#rater>div{
    display: flex;
    width: 100%;
    gap: 4vw;
}
#product>section#rater>div:first-child{
    align-items: center;
}
#product>section#rater>div>h1{
    font-size: 2.5vh;
    color: #002049;
    margin: 0;
}
#product>section#rater>div>button{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: #ff7518;
    color: #fff;
    font-size: 1.7vh;
    border-radius: .7vh;
    padding: 1vh 1.5vh;
    cursor: pointer;
    font-family: bvnpro, lato-f, sans-serif;
}
#product>section#rater>div:first-child{
    justify-content: space-between;
    margin: 0 0 1vh;
}
#product>section#rater>div:nth-child(2){
    max-height: 70vh;
}
#product>section#rater>div:nth-child(2)>div{
    box-sizing: border-box;
    padding: 0 1vh;
}
#product div#cmt{
    gap: 4vh;
    width: 64%;
    overflow-y: auto;
    overflow-x: hidden;
}
#product div#cmt::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}
#product div#cmt::-webkit-scrollbar-track {
    border-radius: 1vh;
}
#product div#cmt::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 1vh;
}
#product div#cmt::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
#product div#stars{
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0;
}
#product section.cmt{
    width: 100%;
    display: flex;
    gap: 2vh;
    margin-bottom: 4vh;
}
#product section.cmt p{
    text-align: left;
    color: #002049;
}
#product section.cmt>img{
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0.2vh 0.4vh 0 rgb(43 43 43 / 10%);
}
#product section.cmt>div{
    width: 100%;
}
#product section.cmt>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 1vh;
}
#product section.cmt>div>div>section>p{
    font-size: 1.5vh!important;
}
#product section.cmt>div>div>section>p:first-child{
    font-family: bvnpro, lato-f, sans-serif!important;
}
#product section.cmt>div>div>svg{
    width: 10vh;
    height: 2vh;
}
#product section.cmt>div>p{
    font-size: 1.7vh;
}
#product div#stars *{
    color: #ff7518;
}
#product div#stars>span{
    font-size: 7.2vh;
    font-family: bvnpro, lato-f, sans-serif;
}
#product div#stars>svg{
    height: 3vh;
    width: 15vh;
}
#product div#stars>p{
    margin-bottom: 4vh;
}
#product div#stars>section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1vh;
    font-size: 1.7vh;
}
#product div#stars>section>div{
    width: 100%;
    height: 1vh;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.25);
}
#product div#stars>section>div>span{
    height: 1vh;
    border-radius: 1vh;
    background-color: #ff7518;
    display: block;
} */
/* #product>section:last-child{
    margin: 0;
} */

#related{
    margin: 0 var(--nsw) 10vh;
}
#related>h1{
    font-size: 3.6vh;
    color: #002049;
    font-family: bvnpro, lato-f, sans-serif;
}
#related>div{
    display: grid;
    /* grid-template-columns: repeat(7,1fr); */
    /* gap: 2vh; */
}

@media (min-aspect-ratio: 133/100) { /* pc view */
    #product {
        background-color: #f2f7fb;
        padding: 2vh;
    }

    #product>section:first-child>* {
        width: 50%;
    }


    #product>section:first-child>div:last-child>h1 {
        margin: 2vh 0 3vh;
    }

    #product div#price>h1 {
        margin: 0 4vh 0 0;
    }

    #product div#count>div {
        margin-right: 4vh
    }

    #product>section:first-child>div>section {
        height: 50vh; 
    }
    #related>div {
        gap: 2vh;
    }
}

@media (max-aspect-ratio: 133/100) { /* mobile view */
    #product>section:first-child {
        flex-direction: column;
    }

    #product>section:first-child>* {
        /* width: 50% */
        height: 50%;
    }

    #product>section:first-child>div:last-child>h1 {
        /* margin: 2vh 0 3vh; */
        margin: 1vh 0;
    }

    #product div#price>h1 {
        margin: 0 1vh 0 0;
    }

    #product div#count>div {
        /* margin-right: 4vh */
        margin-right: 1vh;
    }

    #product>section:first-child>div>section {
        /* height: 50vh; */
        height: 30vh;
    }
    #related>div {
        gap: 1vh;
    }
}
